{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Change Password{% endblock %}

{% block head %}
{{ super() }}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='information.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}


<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>

		<div class="col-md-8 column">

			<h2 class="text-left">Account and Password</h2>

			<div class="tabbable" id="tabs-456499">

				<ul class="nav nav-tabs">
					<li class="active underline">
					<a href="#panel-1" data-toggle="tab">Password </a>
					</li>
					<li class="underline">
					 <a href="#panel-2" data-toggle="tab">Email</a>
					</li>
				</ul>

				<div class="tab-content">


					<div class="tab-pane active" id="panel-1">
						<div class="pwd">
							<form role="form" method="post">
                                <div class="board">
{#                                    旧密码#}
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                        </div>
                                        <label class="col-sm-3 control-label">Old Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputOld" name="old" placeholder="Old Password">
                                        </div>
									</div>
{#                                    新密码#}
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                        </div>
										<label for="inputOld" class="col-sm-3 control-label">Old Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassword1" name="new1" placeholder="New Password">
                                        </div>
									</div>
{#                                    确认新密码#}
                                    <div class="form-group">
										<label for="inputPassword2" class="col-sm-4 control-label">Confirm New Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" id="inputPassword2" name="new2" placeholder="Confirm New Password">
                                        </div>
									</div>
                                    <p id="p1"></p>
{#                                    按钮#}
									<div class="form-group">
                                        <div class="col-sm-4">
                                        </div>

										<div class="col-sm-8 submit ">
											 <button type="submit" class="btn btn-success" disabled="disabled" id="submit1" type="submit">Update Password</button>
										</div>
									</div>
								</div>
                            </form>

						</div>
					</div>



					<div class="tab-pane" id="panel-2">
						<div class="email">

						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="board">
{#                                    显示旧的邮箱#}
									<div class="form-group">
                                        <div class="col-sm-1">
                                        </div>
                                        <label class="col-sm-2 control-label">Old Email</label>
                                        <div class="col-sm-4">
                                            <p class="form-control-static">{{ current_user.email }}</p>
                                        </div>
									</div>
{#                                    请输入新的邮箱#}
									<div class="form-group">
                                        <div class="col-sm-1">
                                        </div>
										<label for="newEmail" class="col-sm-2 control-label">New Email</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="newEmail" placeholder="New email address">
                                        </div>
									</div>
{#                                    请输入您的密码#}
                                    <div class="form-group">
                                        <div class="col-sm-1">
                                        </div>
										<label for="newEmail" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="newEmail" placeholder="Please enter your password">
                                        </div>
									</div>
{#                                    按钮#}
									<div class="form-group">
                                        <div class = "col-sm-3">
                                        </div>
										<div class="col-sm-5 submit">
										<button type="submit" class="btn btn-success">Update Email</button>
										</div>
									</div>
								</div>
							</div>
						</form>

						</div>
				    </div>

				</div>

			</div>

		</div>

		<div class="col-md-2 column">
		</div>
	</div>
</div>

    {#修改密码时验证信息格式是否符合标准的脚本#}
<script>
        var old  = document.getElementById('inputOld');
        var pwd1 = document.getElementById('inputPassword1');
        var pwd2 = document.getElementById('inputPassword2');
        var info = document.getElementById('p1');


        old.onblur = function () {
            var pw1 = pwd1.value;
            var pw2 = pwd2.value;
            if(pw1 == ''){
                return ;
            }

            // 不符合规则的话
            if(pw1 != pw2){
                info.innerHTML = '请与第一次输入的密码一致';
                info.className = 'text-danger';
                document.getElementById("submit1").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            if(info.className == 'text-success'){
                document.getElementById("submit1").disabled = false;
            }
        }

        pwd1.onblur = function (){
            var pw1 = pwd1.value;
            var pw2 = pwd2.value;
            // 不符合规则的话
            if(pw2 == ''){
                return ;
            }
            if(pw1 != pw2){
                info.innerHTML = '请与第一次输入的密码一致';
                info.className = 'text-danger';
                document.getElementById("submit1").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            if(info.className == 'text-success'){
                document.getElementById("submit").disabled = false;
            }
        }

        pwd2.onblur = function () {
            var pw1 = pwd1.value;
            var pw2 = pwd2.value;
            // 不符合规则的话
            if (pw2 == ''){
                return;
            }
            if(pw1 != pw2){
                info.innerHTML = '请与第一次输入的密码一致';
                info.className = 'text-danger';
                document.getElementById("submit1").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            if(info.className == 'text-success'){
                document.getElementById("submit1").disabled = false;
            }
        }

</script>
{% endblock %}


