{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Change Password{% endblock %}

{% block head %}
{{ super() }}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='information.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}


<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>

		<div class="col-md-8 column">

			<h2 class="text-left">Account and Password</h2>

			<div class="tabbable" id="tabs-456499">

				<ul class="nav nav-tabs">
					<li class="active underline">
					<a href="#panel-1" data-toggle="tab">Password </a>
					</li>
					<li class="underline">
					 <a href="#panel-2" data-toggle="tab">Email</a>
					</li>
				</ul>

				<div class="tab-content">

					<div class="tab-pane active" id="panel-1">
						<div class="pwd">

							<form role="form" method="post">
                                <div class="board">

									<div class="form-group">
									<label for="inputOld" class="control-label">Old Password</label>
									<input type="password" class="form-control" id="inputOld" name="old" placeholder="Old Password"/>
									</div>
									<div class="form-group">
										<label for="inputPassword1" class="control-label">New Password</label>
										<input type="password" class="form-control" id="inputPassword1" name="new1" placeholder="New Password"/>
									</div>
									<div class="form-group">
										<label for="inputPassword2" class="control-label">Confirm New Password</label>
										<input type="password" class="form-control" id="inputPassword2" name="new2" placeholder="Confirm New Password" />
									</div>
									<div class="form-group">
										<div class="submit">
											 <button type="submit" class="btn btn-success" id="submit" type="submit">Update Password</button>
										</div>
									</div>



								</div>
                            </form>

						</div>
					</div>


					<div class="tab-pane" id="panel-2">
						<div class="email">

						<form role="form">

							<div class="form-group">

								<div class="board">
									<div class="form-group">
									<label class="control-label">Old Email</label>
									<p>Old email address</p>
									</div>
									<div class="form-group">
										<label for="newEmail" class="control-label">New Email</label>
										<input type="text" class="form-control" id="newEmail" placeholder="New email address">
									</div>
									<div class="form-group">
										<div class="submit">
										<button type="submit" class="btn btn-success">Update Email</button>
										</div>
									</div>
								</div>

							</div>

						</form>

						</div>
				    </div>

				</div>

			</div>

		</div>

		<div class="col-md-2 column">
		</div>
	</div>
</div>

{% endblock %}


