{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Change Password{% endblock %}

{% block head %}
{{ super() }}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='information.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}


<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>

		<div class="col-md-8 column">

			<h2 class="text-left">Account and Password</h2>

			<div class="tabbable" id="tabs-456499">

				<ul class="nav nav-tabs">
					<li class="active underline">
					<a href="{{ url_for('auth.change_password') }}" >Password </a>
					</li>
					<li class="underline">
					 <a href="{{ url_for('auth.change_email_request') }}" >Email</a>
					</li>
				</ul>


				<div class="tab-content">

					<div class="tab-pane active" id="panel-1">
						<div class="pwd">
							<form class="form-horizontal" role="form" method="post">
                                <div class="board">
{#                                    旧密码#}
                                    <div class="form-group">
                                        <label class="col-sm-offset-1 col-sm-3 control-label">Old Password</label>
                                        <div class="col-sm-7">
                                            <input type="password" class="form-control" id="inputOld" name="old" placeholder="Old Password">
                                        </div>
									</div>
{#                                    新密码#}
                                    <div class="form-group">
										<label for="inputOld" class="col-sm-offset-1 col-sm-3 control-label">New Password</label>
                                        <div class="col-sm-7">
                                            <input type="password" class="form-control" id="inputPassword1" name="new1" placeholder="New Password">
                                        </div>
									</div>
{#                                    确认新密码#}
                                    <div class="form-group">
										<label for="inputPassword2" class="col-sm-4 control-label">Confirm New Password</label>
                                        <div class="col-sm-7">
                                            <input type="password" class="form-control" id="inputPassword2" name="new2" placeholder="Confirm New Password">
                                            <p id="p1"></p>
                                        </div>
									</div>

{#                                    按钮#}
									<div class="form-group">
										<div class="col-sm-offset-5 col-sm-7 submit ">
											 <button type="submit" class="btn btn-success" disabled="disabled" id="submit1" type="submit">Update Password</button>
										</div>
									</div>
								</div>
                            </form>

						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="col-md-2 column">
		</div>
	</div>
</div>

    {#修改密码时验证信息格式是否符合标准的脚本#}
<script>
        var old  = document.getElementById('inputOld');
        var pwd1 = document.getElementById('inputPassword1');
        var pwd2 = document.getElementById('inputPassword2');
        var info = document.getElementById('p1');


        old.onblur = function () {
            var pw1 = pwd1.value;
            var pw2 = pwd2.value;
            if(pw2 == '' && pw1 == ''){
                info.innerHTML =''
                return ;
            }

            // 不符合规则的话
            if(pw1 != pw2){
                info.innerHTML = 'Please enter the same password';
                info.className = 'text-danger';
                document.getElementById("submit1").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            if(info.className == 'text-success'){
                document.getElementById("submit1").disabled = false;
            }
        }

        pwd1.onblur = function (){
            var pw1 = pwd1.value;
            var pw2 = pwd2.value;
            // 不符合规则的话
            if(pw2 == '' && pw1 == ''){
                info.innerHTML =''
                return ;
            }
            if(pw1 != pw2){
                info.innerHTML = 'Please enter the same password';
                info.className = 'text-danger';
                document.getElementById("submit1").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            if(info.className == 'text-success'){
                document.getElementById("submit").disabled = false;
            }
        }

        pwd2.onblur = function () {
            var pw1 = pwd1.value;
            var pw2 = pwd2.value;
            // 不符合规则的话
            if (pw2 == '' && pw1 == ''){
                info.innerHTML =''
                return;
            }
            if(pw1 != pw2){
                info.innerHTML = 'Please enter the same password';
                info.className = 'text-danger';
                document.getElementById("submit1").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            if(info.className == 'text-success'){
                document.getElementById("submit1").disabled = false;
            }
        }

</script>
{% endblock %}


