{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Profile{% endblock %}

{% block head %}
{{ super() }}
     <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
<!--    <link href="{{ url_for('static',filename='signin.css') }}" rel="stylesheet">-->
<!--    <link href="{{ url_for('static',filename='bg.css') }}" rel="stylesheet">-->
{% endblock %}




{% block page_content %}



{% endblock %}

