{% extends "base.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}


{% block title %}Login{% endblock %}


{% block head %}
{{ super() }}
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='bg.css') }}" rel="stylesheet">
{% endblock %}




{% block body %}
<div class="onepage">
        <div class = "onepage-bg" id = "onepagebg">

            <nav calss="navbar navbar-inverse bg-light " role="navigation" style="background-color: rgba(245,245,245,0.7);">
                <div class="container">
{#                    头部#}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle btn-warning" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Student Exchange Forum of BJUT</a>
                    </div>

{#                    尾部#}
                    <div class="collapse navbar-collapse">

                        <div class="nav navbar-nav navbar-right">
                            <li>
                                 <a href="/auth/register">
                                 Sign up
                                 </a>
                             </li>
                        </div>

                        <div class="nav navbar-nav navbar-right">
                            <li class="chose">
                                <a  class="btn btn-warning ref-signup chose" >
                                    Login
                                </a>
                            </li>
                        </div>
                    </div>

                </div>
            </nav>


            <div class="container">

                <!--    flash消息显示区-->
                {% for message in get_flashed_messages() %}
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    <div class="col-sm-2">
                    </div>
                {% endfor %}

                <form role="form" class="form-signin" method="post" style="margin: 120px auto 0px auto;">
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <label for="inputName" class="sr-only">Email address</label>
                    <input type="text" id="inputName" class="form-control" placeholder="Student number" name="user" required autofocus>
                    <p id="p1"></p>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="pwd" placeholder="Password" required autofocus>
                    <p id="p2" class="text-danger"></p>

                    <div>
                        <p>Forgot your password?
                        <a href="/auth/reset">Click here to reset it</a>.</p>
                    </div>


                    <button class="btn btn-lg btn-warning btn-block chose" id="submit" disabled="disabled" type="submit">Sign in</button>
                </form>
            </div>
        </div>
</div>

<script>
        var stuID = document.getElementById('inputName');
        var info = document.getElementById('p1');
        var pwd = document.getElementById('inputPassword');
        //学号
        stuID.onblur = function () {
            var stuid = this.value;
            var reg = /^\d{8}$/;
            // 不符合规则的话
            if(!reg.test(stuid)){
                info.innerHTML = '请输入8位数字的学号';
                info.className = 'text-danger';
                document.getElementById("submit").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            if(info.className == 'text-success'){
                document.getElementById("submit").disabled = false;
            }
        }



        {#Ajax技术测试，还是没能解决#}
        {#$("#submit").click(function(){#}
        {#      $.ajax({#}
        {#           url: "/auth/login",#}
        {#           type: "post",#}
        {#           data: {'stuID':$("#inputName").val(),'password':$("#inputPassword").val()},#}
        {#           dataType: 'json',#}
        {#           'success': function(data){#}
        {#               a = JSON.stringify(data)#}
        {#               if (a == 'error'){#}
        {#                   window.location.href = "http://www.baidu.com";#}
        {#               }#}
                        {#if(data['code'] = 200){#}
                        {#    alert(JSON.stringify(data));#}
                            {#alert(JSON.stringify(data));#}
                            {#alert(data['error'])#}
                            {#var error = data['error'];#}
                            {# $("#p2").html(error);#}
                            {# $("#p2").show();#}
                             {#window.location.href = "http://www.baidu.com";#}
                        {# } else{#}
                        {#    window.location.href = "https://www.bilibili.com/";#}
                        {#     var error = data['error'];#}
                        {#     $("#p2").html(error);#}
                        {#     $("#p2").show();#}
                        {# }#}
        {#           },#}
        {#           'fail': function (error) {#}
        {#                consle.log(error)#}
        {#           }#}
        {#      })#}
        {#  });#}
</script>


{% endblock %}
