{% extends "base.html" %}




{% block title %}Register{% endblock %}



{% block head %}
{{ super() }}
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='bg.css') }}" rel="stylesheet">
{% endblock %}




{% block body %}
<div class="onepage">
        <div class = "onepage-bg" id = "onepagebg">


            <nav calss="navbar navbar-inverse bg-light " role="navigation" style="background-color: rgba(245,245,245,0.7);">
                <div class="container">
                    {#                    头部#}
                    <div class="navbar-header">
                        <button type="button" class="btn-warning navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Student Exchange Forum of BJUT</a>
                    </div>

                    {#                    尾部#}
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                             <li class="chose">
                                 <a class="btn btn-warning disabled ref-signup chose" >
                                     Register
                                 </a>
                             </li>
                        </div>
                        <div class="nav navbar-nav navbar-right">
                            <li>
                                <a class="btn ref-signup chose" href="/auth/login">
                                    Signin
                                </a>
                            </li>
                        </div>
                    </div>

                 </div>
            </nav>

            <div class="container">

                <!--    flash消息显示区-->
                {% for message in get_flashed_messages() %}
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    <div class="col-sm-2">
                    </div>
                {% endfor %}

                <form class="form-signin" method="post" style="margin: 75px auto 0 auto;">
                    <h1 class="form-signin-heading">Register</h1>

<!--                    {#                    前两个信息是用来验证的（学号，身份证号）#}-->
<!--                    {#                    您的学号#}-->
                    <label for="BJUT_id" class="sr-only">Student number</label>
                    <input name="BJUT_id" id="BJUT_id" type="text" class="form-control student-num" placeholder="BJUT Number">
                    <p id="stuid"></p>
<!--                    {#                    您的身份证号#}-->
                    <label for="id_num" class="sr-only">ID card number</label>
                    <input name="id_num" id="id_num" type="text" class="form-control" placeholder="Your ID number">
                    <p id="id"></p>

                    <h5><small>The above information is only used to confirm you are the student of BJUT</small></h5>

<!--                    {#                    您想要设置的用户名#}-->
                    <label for="user_name" class="sr-only">User name</label>
                    <input name="user_name" id="user_name" type="text" class="form-control" placeholder="User name">
                    <p id="user"></p>
<!--                    {#                    您的邮箱#}-->
                    <label for="email" class="sr-only">Email</label>
                    <input name="email" id="email" type="text" class="form-control" placeholder="Email">
                    <p id="emailp"></p>

<!--                    {#                    第一次密码#}-->
                    <label for="password" class="sr-only">Password</label>
                    <input name="pwd" id="password" type="password" class="form-control" placeholder="Password">

<!--                    {#                    第二次密码#}-->
                    <label for="confirm_pwd" class="sr-only">Confirm password</label>
                    <input name="confirm_pwd" id="confirm_pwd" type="password" class="form-control" placeholder="Confirm password">
                    <p id="pwd"></p>

                    <button class="btn btn-lg btn-warning btn-block chose" disabled="disabled" id="submit" type="submit">Submit</button>
                </form>
            </div>


        </div>
</div>

{#注册时验证信息格式是否符合标准的脚本#}
<script>
        // 学号
        var stuID = document.getElementById('BJUT_id');
        var info = document.getElementById('stuid');
        //身份证号
        var ID = document.getElementById('id_num');
        var IDinfo = document.getElementById('id');
        //用户名
        var user = document.getElementById('user_name');
        var userinfo = document.getElementById('user');
        //邮箱
        var email = document.getElementById('email');
        var ep = document.getElementById('emailp');
        //密码
        var pw1 = document.getElementById('password');
        var pw2 = document.getElementById('confirm_pwd');
        var pwdp = document.getElementById('pwd');

        //学号
        stuID.onblur = function () {
            var stuid = this.value;
            var reg = /^\d{8}$/;
            // 不符合规则的话
            if(!reg.test(stuid)){
                info.innerHTML = '请输入8位数字的学号';
                info.className = 'text-danger';
                document.getElementById("submit").disabled=true;
            }
            else{
                info.innerHTML = '';
                info.className = 'text-success';
            }
            {#当所有都满足条件#}
            if(pwdp.className == 'text-success'){
                if(ep.className == 'text-success'){
                    if(IDinfo.className == 'text-success'){
                        if(info.className == 'text-success') {
                            if(userinfo.className == 'text-success'){
                                document.getElementById("submit").disabled = false;
                            }
                        }
                    }
                }
            }
        }
        // 身份证号
        ID.onblur = function () {
            var id = this.value;
            var reg = /^[1-9]([0-9]{16}|[0-9]{13})[xX0-9]$/;
            // 不符合规则的话
            if(!reg.test(id)){
                IDinfo.innerHTML = '请输入15位或18位的ID';
                IDinfo.className = 'text-danger';
                document.getElementById("submit").disabled=true;
            }
            else{
                IDinfo.innerHTML = '';
                IDinfo.className = 'text-success';
            }
            {#当所有都满足条件#}
            if(pwdp.className == 'text-success'){
                if(ep.className == 'text-success'){
                    if(IDinfo.className == 'text-success'){
                        if(info.className == 'text-success') {
                            if(userinfo.className == 'text-success'){
                                document.getElementById("submit").disabled = false;
                            }
                        }
                    }
                }
            }
        }
        //用户名
        user.onblur = function () {
            var e = this.value;
            if(e == ''){
                userinfo.innerHTML = '用户名不能为空';
                userinfo.className = 'text-danger';
                document.getElementById("submit").disabled=true;
            }
            else{
                userinfo.innerHTML = '';
                userinfo.className = 'text-success';
            }
            {#当所有都满足条件#}
            if(pwdp.className == 'text-success'){
                if(ep.className == 'text-success'){
                    if(IDinfo.className == 'text-success'){
                        if(info.className == 'text-success') {
                            if(userinfo.className == 'text-success'){
                                document.getElementById("submit").disabled = false;
                            }
                        }
                    }
                }
            }

        }
        //邮箱
        email.onblur = function () {
            var e = this.value;
            var reg = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
            // 不符合规则的话
            if(!reg.test(e)){
                ep.innerHTML = '请输入正确格式的email';
                ep.className = 'text-danger';
                document.getElementById("submit").disabled=true;
            }
            else{
                ep.innerHTML = '';
                ep.className = 'text-success';
            }
            {#当所有都满足条件#}
            if(pwdp.className == 'text-success'){
                if(ep.className == 'text-success'){
                    if(IDinfo.className == 'text-success'){
                        if(info.className == 'text-success') {
                            if(userinfo.className == 'text-success'){
                                document.getElementById("submit").disabled = false;
                            }
                        }
                    }
                }
            }
        }
        // 确认密码相同
        pw2.onblur = function () {
            var pwd1 = pw1.value;
            var pwd2 = this.value;
            // 不符合规则的话
            if( pwd1 != pwd2 ){
                pwdp.innerHTML = '请与第一次输入的密码一致';
                pwdp.className = 'text-danger';
                document.getElementById("submit").disabled=true;
            }
            else{
                pwdp.innerHTML = '';
                pwdp.className = 'text-success';
            }
            {#当所有都满足条件#}
            if(pwdp.className == 'text-success'){
                if(ep.className == 'text-success'){
                    if(IDinfo.className == 'text-success'){
                        if(info.className == 'text-success') {
                            if(userinfo.className == 'text-success'){
                                document.getElementById("submit").disabled = false;
                            }
                        }
                    }
                }
            }
        }

</script>

{% endblock %}