{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Password Reset{% endblock %}


{% block head %}
{{ super() }}
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='signin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='bg.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

<div class="onepage">
        <div class = "onepage-bg" id = "onepagebg">

            <nav calss="navbar navbar-inverse bg-light " role="navigation" style="background-color: rgba(245,245,245,0.7);">
                <div class="container">
{#                    头部#}
                    <div class="navbar-header">
                        <button type="button" class=" btn-warning navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand">Student Exchange Forum of BJUT</a>
                    </div>

{#                    尾部#}
                    <div class="collapse navbar-collapse">

                        <div class="nav navbar-nav navbar-right">
                            <li class="chose">
                                 <a class="btn ref-signup chose" href="/auth/register">
                                 Register
                                 </a>
                             </li>
                        </div>

                        <div class="nav navbar-nav navbar-right">
                            <li class="chose">
                                <a  class="btn ref-signup chose" href="/auth/login">
                                    Signin
                                </a>
                            </li>
                        </div>

                    </div>

                </div>
            </nav>


            <div class="container">

                <!--    flash消息显示区-->
                {% for message in get_flashed_messages() %}
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    <div class="col-sm-2">
                    </div>
                {% endfor %}

                <form role="form" class="form-signin" method="post" style="margin: 120px auto 0px auto;">
                    <h2 class="form-signin-heading">Reset Your Password</h2>

                    {{ form.csrf_token }}
                    {{ form.email }}
                    <p id="p1"></p>
                    {{ form.submit }}
                </form>
            </div>
        </div>
</div>



<script>
        {#只要有id就能改#}
        var email = document.getElementById('email')
        email.className = 'form-control'
        var submit = document.getElementById('submit')
        submit.className = 'btn btn-lg btn-warning btn-block chose';
        submit.disabled = true;


        var ep = document.getElementById('p1')
        email.onblur = function () {
            var e = this.value;
            var reg = /^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/;
            // 不符合规则的话
            if(!reg.test(e)){
                ep.innerHTML = 'Please enter the correct format of the email';
                ep.className = 'text-danger';
                submit.disabled=true;
            }
            else{
                ep.innerHTML = '';
                ep.className = 'text-success';
            }
            {#当所有都满足条件#}
            if(ep.className == 'text-success'){
                submit.disabled=false;
            }
        }
</script>


{% endblock %}