/*
轮播图的相关样式
 */
.item img{
    height: 300px !important;
    width: 1200px;
}
.hot-activity1 {
    position: absolute;
    top: 0;
    height: 90px;
    width: 730px;
    background-color: rgba(1, 1, 1, 0.6);
    color: #fff;
}
.hot-activity2 {
    position: absolute;
    top: 55px;
    height: 90px;
    width: 730px;
    padding-left: 25px;
    background-color: rgba(1, 1, 1, 0.6);
    color: #fff;
}
.hot-activity3 {
    position: absolute;
    top: 110px;
    height: 90px;
    width: 730px;
    padding-left: 50px;
    background-color: rgba(1, 1, 1, 0.6);
    color: #fff;
}
.hot-activity4 {
    position: absolute;
    top: 160px;
    height: 90px;
    width: 730px;
    padding-left: 75px;
    background-color: rgba(1, 1, 1, 0.6);
    color: #fff;
}
.hot-activity5 {
    position: absolute;
    top: 210px;
    height: 90px;
    width: 730px;
    padding-left: 100px;
    background-color: rgba(1, 1, 1, 0.6);
    color: #fff;
}
.item h3,.item p {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.item p {
    display: inline-block;
}
.item .icon-btn {
    float: none;
}
.carousel-indicators {
    bottom: 0 !important;
}
/*
二级导航的相关样式
 */
.my-carousel{
    margin: 20px auto;
}
.content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px #dddddd;
}

.post-nav li a{
    margin: 10px;
    float: left;
    font-size: 16px;
    color: black;

}

.post-nav .active a{
    color: #4760e8;
    background-color: #fff;
}

.post-nav li a:hover{
    background-color: #fff;
    color: #1b34b9;
}

.post-nav li a:focus {
    background-color: #fff;
}