/*
个人资料版样式
 */
.outer {
    position: fixed;
    left: 50%;
    top: 180px;
}
.inner1 {
    width: 350px;
}
.head {
    margin: 30px auto;
}
.info {
    color: #727070;
}
.follow{
    margin-bottom: 5px;
    border-top: 1px solid #ddd;
}
.follow .left-btn {
    border-right: 1px solid #ddd;
}
/*
互动功能样式
 */
.inner2 {
    width: 350px;
    position: relative;
    background-color: #fff;
 }

.new-post {
    padding: 0;
    background-color: #fff;
}
.icon {
    margin: 5px;
}
.icon-word {
    margin-top: -10px;
    font-size: 12px;
    text-align: center;
}