/*
用于修改用户主页的样式
 */
.bg-profile {
    background-image: url("Image/bg-profile.jpg");
    background-position: center -245px;
    height: 200px;
    background-repeat: no-repeat;
}

.navbar {
    margin-bottom: 0;
}