body{
  padding: 0;
}

.form-signin {
  max-width: 450px;
  padding: 25px;
  margin: 150px auto;
  background-color: rgba(245,245,245,0.7);
  border-radius: 30px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin: 12px 0;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.nav .chose a:hover {
  background-color: #e7a00e;
}
.navbar-toggle {
  background-color: #e7a00e;
}
