{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}

    {% for notice in notices %}
        {% if not notice.is_read %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="{{ url_for('.change_read', id = notice.id) }}">
                        {% if notice.action == ' has followed ' %}
                            <h3 class="panel-title" style="display:inline;">Followers</h3>
                        {% elif notice.action == ' has liked your posting ' %}
                            <h3 class="panel-title" style="display:inline;">Likers</h3>
                        {% else %}
                            <h3 class="panel-title" style="display:inline;">Comments</h3>
                        {% endif %}
                    </a>

                    <p style="float: right">{{ moment(notice.timestamp).format('L') }}</p>
                </div>

                <div class="panel-body" >
                    {% if notice.username == 'Anonymous' %}
                        <h5 style="float:left; display: inline; margin-right: 4px">
                            Anonymous user
                        </h5>
                    {% else %}
                        <a href="{{ url_for('.user', username=notice.username) }}" style="float:left; display: inline; margin-right: 4px">
                            <h5>{{ notice.username }} </h5>
                        </a>
                    {% endif %}

                    <h5 style="float:left;display: inline"> {{ notice.action }} </h5>

                    {% if notice.object_id %}
                    <a href="{{ url_for('.post', id = notice.object_id) }}" style="float:left;display: inline;margin-left: 4px">
                         <h5>{{ notice.object }}</h5>
                    </a>
                    {% else %}
                    <a href="{{ url_for('.user', username = current_user.username) }}" style="float:left;display: inline;margin-left: 4px">
                         <h5>{{ notice.object }}</h5>
                    </a>
                    {% endif %}
                </div>

            </div>
        {% endif %}

    {% endfor %}

{% endblock %}
