<ul class="posts list-unstyled">
{% for transaction in transactionsInProfile %}
    <li class="transaction" id="{{ transaction.id }}">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="item-name" style="display: inline">
                        <a>
                            <strong>Item Name: </strong> {{ transaction.item_name }}
                        </a>
                    </h3>
                    {% if transaction.is_sold %}
                            <h2 style="display: inline; float: right">Already Sold!</h2>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <p><strong>Item Describe:</strong> {{ transaction.item_describe }}
                        Some default panel content here. Nulla vitae elit libero, a pharetra augue.
                        Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                        Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item"><strong>Transaction Link: </strong> {{ transaction.link }}</li>
                    <li class="list-group-item"><strong>Transaction Mode: </strong> {{ transaction.transaction_mode }}</li>
                    <li class="list-group-item"><strong>Seller WeChat: </strong> {{ transaction.seller_WeChat }}</li>
                </ul>

                <div class="panel-footer">
                    <span class="date" >
                        <span class="glyphicon glyphicon-time"></span>
                        {{ moment(transaction.timestamp).fromNow() }}
                    </span>

                    {#            删除#}
                    {% if current_user == transaction.seller %}
                            <a class="icon-btn" href="{{ url_for('transaction.sold_item', item_id=transaction.id)}}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span>delete</span>
                            </a>
                    {% endif %}
                    {#            已经卖出#}
                    {% if current_user == transaction.seller and not transaction.is_sold  %}
                        <a class="icon-btn" href="{{ url_for('transaction.sold_item', item_id=transaction.id)}}">
                            <span class="glyphicon glyphicon-usd"></span>
                            <span>Already Sold</span>
                        </a>
                    {% endif %}
                </div>

            </div>
        </div>
    </li>
{% endfor %}
</ul>