
{% for transaction in transactions %}
    <li class="transaction" id="{{ transaction.id }}">


            <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="item-name" style="display: inline">
                        <a>
                            <strong>Item Name:</strong> {{ transaction.item_name }}
                        </a>
                    </h3>
                    {% if transaction.is_sold %}
                            <h3 style="display: inline; float: right">Already Sold!</h3>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <p><strong>Item Describe:</strong> {{ transaction.item_describe }}
                        Some default panel content here. Nulla vitae elit libero, a pharetra augue.
                        Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                        Pellentesque ornare sem lacinia quam venenatis vestibulum.
                        Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>

              <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">Transaction Link: {{ transaction.link }}</li>
                    <li class="list-group-item">Transaction Mode: {{ transaction.transaction_mode }}</li>
                    <li class="list-group-item">Seller WeChat: {{ transaction.seller_WeChat }}</li>
                </ul>
            </div>






        <div class="panel panel-default">
              <div class="panel-name">
                  <div class="item-content col-sm-12">
                        <h3 class="item-name" style="margin-top: 7px">
                            <a>
                               Item Name: {{ transaction.item_name }}
                            </a>
                        </h3>
                      <div class="item-description">
                        <p>
                            Item Describe: {{ transaction.item_describe }}
                        </p>
                      </div>
                      <div class="link">
                        <p>
                            Transaction Link: {{ transaction.link }}
                        </p>
                      </div>
                      <div class="mode">
                        <p>
                            Transaction Mode: {{ transaction.transaction_mode }}
                        </p>
                      </div>
                         <div class="contract">
                        <p>
                            Seller WeChat: {{ transaction.seller_WeChat }}
                        </p>
                      </div>
                      {% if transaction.is_sold %}
                            <div>This item has been sold!</div>
                      {% endif %}
                  </div>
              </div>



              <div class="panel-footer">
                   <div class="post-thumbnail">

                        <a class="head-photo" href="{{ url_for('.user', username=transaction.seller.username) }}">
                            {% if transaction.seller.avatar_img %}
                                <img class="img-rounded profile-thumbnail" src="{{ transaction.seller.avatar_img }}" alt="avatar"  style="width: 25px; height: 25px">
                            {% else %}
                                <img class="img-rounded profile-thumbnail" src="{{ transaction.seller.gravatar(size=25) }}" alt="avatar">
                            {% endif %}
                        </a>

                        <span class="post-author">
                            <a href="{{ url_for('.user', username=transaction.seller.username) }}"> {{ transaction.seller.username }} </a>
                        </span>
                        <span class="post-date"><small>{{ moment(transaction.timestamp).fromNow() }}</small></span>

                        {% if current_user == transaction.seller %}
{#                            <a class="icon-btn" style="float:right; margin-right: 15px" href="{{ url_for('main.sold_item', item_id=transaction.id)}}">#}
                            <a href="{{ url_for('main.sold_item', item_id=transaction.id)}}">
                                <span>sold</span>
                            </a>
                        {% endif %}

                    </div>
              </div>
        </div>
    </li>
{% endfor %}