
    <li class="post" id="{{ post.id }}">

        <div class="panel panel-default">
              <div class="panel-body">
                  <div class="post-content col-sm-12">
        {#            标题#}
                        <h3 class="post-title" style="margin-top: 7px">
                            <a href="{{ url_for('.post', id=post.id) }}">
                                {{ post.title }}
                            </a>
                        </h3>
        {#            摘要#}
                        <div class="post-body">
                        <p>
                            {% if post.body_html %}
                                {{ post.body_html |safe|striptags|truncate(260,killwords=Flase,leeway=0) }}
                            {% else %}
                                {{ post.body |truncate(200,killwords=Flase,leeway=0)}}
                            {% endif %}
                            <small><a href="{{ url_for('.post', id=post.id) }}"><B>Read More</B></a></small></p>
                        </div>
                  </div>
              </div>



              <div class="panel-footer">
                  {% if post.is_anonymous %}
                    <div class="post-thumbnail">
                        <span class="head-photo">
                            <img class="img-rounded profile-thumbnail" src="{{ url_for('static',filename='Image/anonymous.png') }}" alt="avatar" style="width: 25px; height: 25px">
                        </span>

                        <span class="post-author">
                            <span> anonymous </span>
                        </span>
                        <span class="post-date"><small>{{ moment(post.timestamp).fromNow() }}</small></span>
                    </div>
                  {% else %}
                   <div class="post-thumbnail">

                        <a class="head-photo" href="{{ url_for('.user', username=post.author.username) }}">
                            {% if post.author.avatar_img %}
                                <img class="img-rounded profile-thumbnail" src="{{ post.author.avatar_img }}" alt="avatar"  style="width: 25px; height: 25px">
                            {% else %}
                                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=25) }}" alt="avatar">
                            {% endif %}
                        </a>

                        <span class="post-author">
                            <a href="{{ url_for('.user', username=post.author.username) }}"> {{ post.author.username }} </a>
                        </span>
                        <span class="post-date"><small>{{ moment(post.timestamp).fromNow() }}</small></span>

                    </div>
                  {% endif %}

                    <div class="post-footer">

                    {#            评论#}
                            <a class="icon-btn" style="float:right" href="{{ url_for('.post', id=post.id) }}#comments">
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>{{ post.comments.count() }} comment</span>
                            </a>

                    {#            喜欢#}
                        {% if not current_user.is_liking(post) %}
                            <a class="icon-btn" style="float:right; margin-right: 15px" href="{{ url_for('.like', post_id=post.id) }}#{{ post.id }}">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                                <span>{{ post.liker.count() }} likes</span>
                            </a>
                        {% else %}
                            <a class="icon-btn" style="float:right; margin-right: 15px" href="{{ url_for('.dislike', post_id=post.id) }}#{{ post.id }}">
                                <span class="glyphicon glyphicon-heart"></span>
                                <span>{{ post.liker.count() }} likes</span>
                            </a>
                        {% endif %}

                    {#            删除#}
                        {% if current_user == post.author %}
                            <a class="icon-btn" style="float:right; margin-right: 15px" href="{{ url_for('main.delete_post', id=post.id)}}">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span>delete</span>
                            </a>
                        {% endif %}
                    </div>
              </div>
        </div>
    </li>

