<li class="avtivity" id="{{  avtivity.id }}">
    <div class="panel panel-warning">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="item-name" style="display: inline">
                <a>
                    {{ avtivity.activity_name }}
                </a>
            </h3>
            {% if avtivity.is_invalid %}
                <h2 style="display: inline; float: right">The event has expired!</h2>
            {% endif %}
        </div>
        <div class="panel-body">
            <p><strong>Details:</strong>{{ avtivity.activity_describe }}
                Some default panel content here. Nulla vitae elit libero, a pharetra augue.
                Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulum.
                Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item"><strong>Time: </strong> {{ avtivity.activity_time }}</li>
            <li class="list-group-item"><strong>Place: </strong> {{ avtivity.activity_place }}</li>
            <li class="list-group-item"><strong>Organizer: </strong> {{ avtivity.Organizer }}</li>
        </ul>

        <div class="panel-footer">
             <a class="head-photo" href="{{ url_for('.user', username=avtivity.announcer.username) }}">
                 {% if avtivity.announcer.avatar_img %}
                     <img class="img-rounded profile-thumbnail" src="{{ avtivity.announcer.avatar_img }}" alt="avatar"  style="width: 25px; height: 25px">
                 {% else %}
                     <img class="img-rounded profile-thumbnail" src="{{ avtivity.announcer.gravatar(size=25) }}" alt="avatar">
                 {% endif %}
            </a>
            <span class="post-author">
                <a href="{{ url_for('.user', username=avtivity.announcer.username) }}"> {{ avtivity.announcer.username }} </a>
            </span>
            <span class="post-date" style="float: right">{{ moment(avtivity.timestamp).fromNow() }}</span>
{#            {% if current_user == avtivity.seller and not avtivity.is_sold  %}#}
{#                <a href="{{ url_for('main.sold_item', item_id=avtivity.id)}}" style="float: right">#}
{#                    <span>sold</span>#}
{#                </a>#}
{#            {% endif %}#}
        </div>
    </div>
</li>
