<ul class="liker">
    {% for like in liker %}
    <li class="like">
        <div class="like-thumbnail">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ like.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="like-content">
            <div class="like-date">{{ moment(like.timestamp).fromNow() }}</div>
            <div class="like-author">
                <a href="{{ url_for('.user', username=like.author.username) }}">
                    {{ like.author.username }}
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>