{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Student Exchange Forum of BJUT{% endblock %}

{% block head %}
{{ super() }}
<!--     Custom styles for this template -->
    <link href="{{ url_for('static',filename='posts.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='interact.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<!--        帖子浏览界面        -->
<div class="col-md-8">
    <div class="page-header">
        <h1>Hello,
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Stranger
            {% endif %}
            !
        </h1>
    </div>


    <div>
        {% if current_user.can(Permission.WRITE) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>


    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
            {% if current_user.is_authenticated %}
            <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
            {% endif %}
        </ul>
        {% include '_posts.html' %}
    </div>


    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    {% endif %}
</div>


    {% if current_user.is_authenticated %}
        {#    登录用户的个人资料卡及互动功能#}
          <div class="col-md-offset-2 col-sm-3 outer">
              <div class="thumbnail inner1">
    {#              <img src="{{ current_user.gravatar(size=256) }}" alt="avatar" >#}
{#                    <img src="{{ current_user.avatar_img }}" alt="avatar" >#}

                    {% if current_user.avatar_img %}
                        <img class="img-rounded profile-thumbnail" src="{{ current_user.avatar_img }}" alt="avatar"  style="width: 256px; height: 256px">
                    {% else %}
                        <img class="img-rounded profile-thumbnail" src="{{ current_user.gravatar(size=256) }}" alt="avatar">
                    {% endif %}
                    <div class="caption text-center">
                        <h3>{{ current_user.username }}</h3>
                        <p> {{ current_user.about_me }}</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">{{ current_user.followers.count() - 1 }} Followers</a>
                            <a href="#" class="btn btn-default" role="button">{{ current_user.following.count() - 1 }} Following</a>
                        </p>
                   </div>
              </div>
              <div class="inner2">

              </div>
          </div>
    {% endif %}



{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
