{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - {{ title }} {{ post.title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }} {{ post.title }}</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>User</th><th>Since</th></tr></thead>
    {% for like in liker %}
{#    {% if like.user != user %}#}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = like.user.username) }}">
                <img class="img-rounded" src="{{ like.user.gravatar(size=32) }}">
                {{ like.user.username }}
            </a>
        </td>
        <td>{{ moment(like.timestamp).format('L') }}</td>
    </tr>
{#    {% endif %}#}
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, post_id=post.id) }}
</div>
{% endblock %}
