{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}New Post{% endblock %}

{% block head %}
{{ super() }}
    <style type="text/css">
        .toolbar {
            border: 1px solid #cccccc;

        }
        .text {
            border: 1px solid #ccc;
            height: 400px;
        }
    </style>
{% endblock %}


{% block page_content %}


{#     {{ wtf.quick_form(form) }}#}

    <div class="col-md-offset-2 col-md-8">
        {% if current_user.can(Permission.WRITE) %}

            <label class="WriteIndex-titleInput Input-wrapper Input-wrapper--multiline">
            <textarea rows="1" class="Input" placeholder="请输入标题（最多 50 个字）"
                      style="-webkit-tap-highlight-color: rgba(26,26,26,0);
                            -webkit-box-flex: 1;
                            flex: 1 1;
                            padding: 0;
                            font-family: inherit;
                            background: transparent;
                            resize: none;
                            color: #1a1a1a;
                            overflow: auto;
                            min-height: 44px;
                            display: block;
                            width: 100%;
                            border: 0;
                            font-size: 32px;
                            line-height: 1.4;
                            font-weight: 600;
                            outline: none;
                            box-shadow: none;
                            height: 44px;"></textarea>
            </label>



            <div id="div1" class="toolbar">
            </div>
            <div style="padding: 5px 0; color: #ccc">中间隔离带</div>
            <div id="div2" class="text"> <!--可使用 min-height 实现编辑区域自动增加高度-->
                <p>请输入内容</p>
            </div>


            <form id="comment_form" name="comment" action="" method="POST" role="form">
                <div>
                <textarea name="text1" id="text1" style="width:100%; height:100px; "></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>


            <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="static/RichEditor/wangEditor.min.js"></script>
            <script type="text/javascript">
                var E = window.wangEditor
                var editor1 = new E('#div1', '#div2')  // 两个参数也可以传入 elem 对象，class 选择器

                var $text1 = $('#text1')
                editor1.customConfig.onchange = function (html) {
                    // 监控变化，同步更新到 textarea
                    $text1.val(html)
                }
                editor1.create()
                // 初始化 textarea 的值
                $text1.val(editor1.txt.html())

            </script>





        {% endif %}
    </div>


{% endblock %}




{% block scripts %}
{{ super() }}
{% endblock %}