{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}New Post (Markdown) {% endblock %}


{%block styles%}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='editormd/css/editormd.min.css')}}">
{%endblock%}
{%block scripts%}
{{super()}}
    <script src="{{ url_for('static',filename='editormd/examples/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>

    <script>
        var testEditor;
        $(function(){
            testEditor=editormd("test-editormd",{
                placeholder:'本编辑器支持Markdown编辑，左边编写，右边预览',
                width:'1130px',
                height:'800px',
                syncScrolling : "single",
                path:"{{url_for('static',filename='editormd/lib/')}}",
                saveHTMLToTextarea: true,
                emoji: false,
                taskList: true,
                toolbarIcons : function() {  //自定义工具栏，后面有详细介绍
                    return ["undo","redo","|","bold","del","italic","quote",
                        "uppercase","lowercase","|","h1","h2","h3","h4","h5","h6","|",
                        "list-ul","list-ol","hr","|","watch","preview","fullscreen"]
                    {#return editormd.toolbarModes['simple']; // full, simple, mini#}
                },

                //启动本地图片上传功能
                {#imageUpload:true,#}
                {#imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],#}
                {#imageUploadURL : "{{url_for('main.upload')}}"#}
            });
        })
    </script>
{%endblock%}




{% block page_content %}
    <div>
        {% if current_user.can(Permission.WRITE) %}
            <form method="post">

                <div class="col-md-offset-3 col-md-4">
                    <label class="WriteIndex-titleInput Input-wrapper Input-wrapper--multiline">
                        <textarea  id="title" name="title" rows="1" class="Input" maxlength="20"  placeholder="           请输入标题（最多 20 个字）"
                              style="-webkit-tap-highlight-color: rgba(26,26,26,0);
                                    -webkit-box-flex: 1;
                                    flex: 1 1;
                                    padding: 0;
                                    font-family: inherit;
                                    background: transparent;
                                    resize: none;
                                    color: #1a1a1a;
                                    overflow: auto;
                                    min-height: 44px;
                                    display: block;
                                    width: 728px;
                                    border: 0;
                                    font-size: 32px;
                                    line-height: 1.4;
                                    font-weight: 600;
                                    outline: none;
                                    box-shadow: none;
                                    height: 44px;"></textarea>
                    </label>
                </div>
                <div class="col-md-offset-3 col-md-2">
                    <button type="submit" class="btn btn-primary form-control">提交</button>
                </div>
                {{form.hidden_tag()}}

                <div id="test-editormd" class="form-control col-md-12">
                    {{form.body(class="form-control",style="display:none;",id="ts")}}
                </div>

            </form>
        {% endif %}
    </div>
{% endblock %}