{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Search{% endblock %}


{% block head %}
{{ super() }}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='posts.css') }}" rel="stylesheet">
{% endblock %}


{% block page_content %}

    <div class="col-sm-12">
        <form class="form-horizontal" method="post">
            <div class="form-group" style="margin-top: 15px; ">

                <h4 class="col-sm-3 control-label text-left" style="padding-top: 7px; text-align: right; margin-top: 0px;">
                    Search
                </h4>
                <div class="col-sm-6">
                    <label class="sr-only" for="inf"></label>
                    <input name="inf" type="text" value="{{ inf }}" class="form-control " id="inf" placeholder="Search" >
                </div>
                <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Posts <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                            <li><a href="{{ url_for('.query', content=' ') }}">Posts</a></li>
                            <li><a href="{{ url_for('.query_user') }}">Users</a></li>
                            <li><a href="{{ url_for('.query_transaction') }}">Transactions</a></li>
                      </ul>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>


    <div class="content col-md-12">
        <div class="tabbable">
            <ul class="nav post-nav">

                <li class="active" id="btn-1">
                     <a href="#panel-1" data-toggle="tab">Combination</a>
                </li>
                <li id="btn-2">
                     <a href="#panel-2" data-toggle="tab">Newest</a>
                </li>

                <li id="btn-3">
                    <a href="#panel-3" data-toggle="tab">Hottest</a>
                </li>
                <li id="btn-4">
                    <a href="#panel-4" data-toggle="tab">Relevance</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="panel-1">
                    <ul class="posts list-unstyled">
                        {% for post in combination %}
                            {% include 'Posts/_postsInQuery.html' %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="panel-2">
                    <ul class="posts list-unstyled">
                        {% for post in newest %}
                            {% include 'Posts/_postsInQuery.html' %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane" id="panel-3">
                    <ul class="posts list-unstyled">
                        {% for post in hottest %}
                            {% include 'Posts/_postsInQuery.html' %}
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-pane" id="panel-4">
                    <ul class="posts list-unstyled">
                        {% for post in relevance %}
                            {% include 'Posts/_postsInQuery.html' %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <script>
        var l1 = document.getElementById('btn-1')
        var l2 = document.getElementById('btn-2')
        var l3 = document.getElementById('btn-3')
        var l4 = document.getElementById('btn-4')
        var content1 = document.getElementById('panel-1')
        var content2 = document.getElementById('panel-2')
        var content3 = document.getElementById('panel-3')
        var content4 = document.getElementById('panel-4')

        l1.onclick = function () {
            this.className = 'active'
            content1.className = 'active'

            l2.className = ''
            content2.className = 'tab-pane'
            l3.className = ''
            content3.className = 'tab-pane'
            l4.className = ''
            content4.className = 'tab-pane'
        }

        l2.onclick = function () {
            this.className = 'active'
            content2.className = 'active'

            l1.className = ''
            content1.className = 'tab-pane'
            l3.className = ''
            content3.className = 'tab-pane'
            l4.className = ''
            content4.className = 'tab-pane'
        }

        l3.onclick = function () {
            this.className = 'active'
            content3.className = 'active'

            l1.className = ''
            content1.className = 'tab-pane'
            l2.className = ''
            content2.className = 'tab-pane'
            l4.className = ''
            content4.className = 'tab-pane'
        }

        l4.onclick = function () {
            this.className = 'active'
            content4.className = 'active'

            l1.className = ''
            content1.className = 'tab-pane'
            l2.className = ''
            content2.className = 'tab-pane'
            l3.className = ''
            content3.className = 'tab-pane'
        }
    </script>

{% endblock %}
