{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>


<div class="col-sm-7">
    <form class="form-horizontal" method="post">
        <div class="form-group" style="margin-top: 15px; ">
            <label for="user" class="col-sm-2 control-label text-left">Query</label>
            <div class="col-sm-10">
                <input name="user" type="text" class="form-control " id="user" placeholder="{{ user_inf }}">
            </div>
        </div>
        <div class="col-sm-offset-4  submit">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
<table class="table table-hover results">
    <thead><tr><th>Result</th><th>Since</th></tr></thead>
    {% for item in query %}
    <tr>
        <td>
            <a href="{{ url_for('.user', username = item.username) }}">
                <img class="img-rounded" src="{{ item.gravatar(size=32) }}">
                {{ item.username }}
            </a>
            <a> {{ item.student_id }} </a>
            {% if item.grade or item.college %}
            <p>
                {% if item.grade %}{{ item.grade }}<br>{% endif %}
                {% if item.college %}
                    {{ item.college }}<br>
                {% endif %}
            </p>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}