{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Profile{% endblock %}

{% block head %}
{{ super() }}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='profile.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content %}

<div class="container">
    <div class="bg-profile" style="height: 280px">
    </div>
    <div class="container col-sm-12 info">

        <div class="col-md-2" style="padding: 0; margin: 20px 20px 20px 110px">
            <div class="photo">
                {% if user.avatar_img %}
                    <img class="img-rounded profile-thumbnail" src="{{ user.avatar_img }}" alt="avatar"  style="width: 130px; height: 130px">
                {% else %}
                    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=130) }}" alt="avatar">
                {% endif %}
            </div>
            <div>
                <div class="detail">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span>Joined {{ moment(user.member_since).format('L') }}</span>
                </div>
                <div class="detail">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span>Last seen {{ moment(user.last_seen).fromNow() }}</span>
                </div>

                <div class="follow">
                        <a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count() - 1 }}</span></a>&nbsp;
                        <a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.following.count() - 1 }}</span></a>
                </div>
            </div>
        </div>

        <div class="col-sm-offset-2 col-md-6" style="margin-top: 35px;margin-left: 80px;">
            <ul class="list-group">
                <li class="list-group-item info-box">
                    <h3 style="display: inline;">{{ user.username }}
                        {% if user.can(Permission.ACTIVITY) %}
                        <svg class="icon" viewBox="0 0 1024 1024" width="22" height="22">
                            <path d="M959.786667 148.906667l-44.330667-0.725333c-1.024 0-100.437333-2.048-203.050667-41.728-105.301333-40.789333-173.141333-87.552-173.781333-88.021333L511.872 0 485.248 18.474667C484.608 18.901333 416.768 65.706667 311.466667 106.453333 208.938667 146.218667 109.482667 148.181333 108.544 148.181333L64 148.906667l0 430.464C64 795.477333 355.328 1024 511.957333 1024 668.714667 1024 960 795.477333 960 579.370667L959.786667 148.906667zM321.877333 772.48 321.877333 355.413333 282.112 355.413333 282.112 317.482667 441.173333 317.482667l0 189.610667 200.192-189.610667 157.696 0L321.877333 772.48z" fill="#3688FF"></path>
                        </svg>
                        {% endif %}
                    </h3>
                     {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                            {% if not current_user.is_following(user) %}
                            <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-follow">Follow</a>
                            {% else %}
                            <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-unfollow" id="unfollow">Followed</a>
                            {% endif %}
                     {% endif %}
                </li>
                <li class="list-group-item info-box" style="color: #727070;">
                    {{ user.about_me }}
                </li>
                <li class="list-group-item info-box detail">
                    <div class="col-sm-2 title">Email</div>
                    <div class="col-sm-10">{{ user.email }}</div>
                </li>
                <li class="list-group-item info-box detail">
                    <div class="col-sm-2 title">Grade</div>
                    <div class="col-sm-10">{{ user.grade }}</div>
                </li>
                <li class="list-group-item info-box detail">
                    <div class="col-sm-2 title">Collage</div>
                    <div class="col-sm-10">{{ user.college }}</div>
                </li>
            </ul>
        </div>
        {% if user == current_user %}
            <div class="btn-group btn-group-sm set-info" >
                <button type="button" class="btn btn-default" href="/edit-profile">
                    <a href="/edit-profile">Change my information</a>
                </button>
            </div>
        {% endif %}
    </div>

    <div class="container col-sm-12 info">
        <div class="tabbable">
				<ul class="nav post-nav">
					<li class="active" id="btn-1">
						 <a href="#panel-1" data-toggle="tab">MyPosts</a>
					</li>
					<li id="btn-2">
						 <a href="#panel-2" data-toggle="tab">Likes</a>
					</li>
                    {% if user.can(Permission.ACTIVITY) %}
                        <li id="btn-4">
                            <a href="#panel-4" data-toggle="tab">MyAnnouncements</a>
					    </li>
                    {% else %}
                        <li id="btn-3">
                            <a href="#panel-3" data-toggle="tab">MyTransactions</a>
                        </li>
                        <li id="btn-6">
                         <a href="#panel-6" data-toggle="tab">ShoppingCart</a>
                        </li>
                    {% endif %}
                    <li id="btn-5">
                        <a href="#panel-5" data-toggle="tab">WantToGo</a>
                    </li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="panel-1">
                        <ul class="posts list-unstyled">
						    {% include 'Posts/_postsInProfile.html' %}
                        </ul>
					</div>
					<div class="tab-pane" id="panel-2">
                        <ul class="like_posts list-unstyled">
						    {% include 'Posts/_postsLikingInProfile.html' %}
                        </ul>
					</div>
                    {% if user.can(Permission.ACTIVITY) %}
                        <div class="tab-pane" id="panel-4">
                            <ul class="_activity list-unstyled">
                                {% include 'organization/_activitiesInProfile.html' %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="tab-pane" id="panel-3">
                            <ul class="_transaction list-unstyled">
                                {% include 'transaction/_transactionsInProfile.html' %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="panel-6">
                            <ul class="transaction list-unstyled">
                                {% for collect in collects %}
                                    {% include 'transaction/_transactionsCollectingInProfile.html' %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="tab-pane" id="panel-5">
                        <ul class="activity list-unstyled">
                            {% for want in wants %}
                                {% include 'organization/_activitiesWantingInProfile.html' %}
                            {% endfor %}
                        </ul>
                    </div>
				</div>
        </div>

    </div>
</div>

    <script>
        var l1 = document.getElementById('btn-1')
        var l2 = document.getElementById('btn-2')
        var l3 = document.getElementById('btn-3')
        var l4 = document.getElementById('btn-4')
        var l5 = document.getElementById('btn-5')
        var l6 = document.getElementById('btn-6')
        var content1 = document.getElementById('panel-1')
        var content2 = document.getElementById('panel-2')
        var content3 = document.getElementById('panel-3')
        var content4 = document.getElementById('panel-4')
        var content5 = document.getElementById('panel-5')
        var content6 = document.getElementById('panel-6')

        l1.onclick = function () {
            this.className = 'active'
            content1.className = 'active'

            l2.className = ''
            content2.className = 'tab-pane'
            l5.className = ''
            content5.className = 'tab-pane'

            {% if user.can(Permission.ACTIVITY) %}
                l4.className = ''
                content4.className = 'tab-pane'
            {% else %}
                l3.className = ''
                content3.className = 'tab-pane'
                l6.className = ''
                content6.className = 'tab-pane'
            {% endif %}

        }

        l2.onclick = function () {
            this.className = 'active'
            content2.className = 'active'

            l1.className = ''
            content1.className = 'tab-pane'
            l5.className = ''
            content5.className = 'tab-pane'

            {% if user.can(Permission.ACTIVITY) %}
                l4.className = ''
                content4.className = 'tab-pane'
            {% else %}
                l3.className = ''
                content3.className = 'tab-pane'
                l6.className = ''
                content6.className = 'tab-pane'
            {% endif %}
        }

        l5.onclick = function () {
            this.className = 'active'
            content5.className = 'active'

            l1.className = ''
            content1.className = 'tab-pane'
            l2.className = ''
            content2.className = 'tab-pane'
           {% if user.can(Permission.ACTIVITY) %}
                l4.className = ''
                content4.className = 'tab-pane'
            {% else %}
                l3.className = ''
                content3.className = 'tab-pane'
                l6.className = ''
                content6.className = 'tab-pane'
            {% endif %}
        }


        {% if user.can(Permission.ACTIVITY) %}
            l4.onclick = function () {
                this.className = 'active'
                content4.className = 'active'

                l1.className = ''
                content1.className = 'tab-pane'
                l2.className = ''
                content2.className = 'tab-pane'
                l5.className = ''
                content5.className = 'tab-pane'
            }

        {% else %}
            l3.onclick = function () {
                this.className = 'active'
                content3.className = 'active'

                l1.className = ''
                content1.className = 'tab-pane'
                l2.className = ''
                content2.className = 'tab-pane'
                l5.className = ''
                content5.className = 'tab-pane'
                l6.className = ''
                content6.className = 'tab-pane'
            }

            l6.onclick = function () {
                this.className = 'active'
                content6.className = 'active'

                l1.className = 'tab-pane'
                content1.className = 'tab-pane'
                l2.className = 'tab-pane'
                content2.className = 'tab-pane'
                l3.className = ''
                content3.className = 'tab-pane'
                l5.className = ''
                content5.className = 'tab-pane'
            }
        {% endif %}










    </script>

    <script>
        var btn = document.getElementById('unfollow')

        btn.onmouseover = function () {
            btn.innerHTML = "Unfollow"
        }

        btn.onmouseout = function () {
            btn.innerHTML = "Followed"
        }
    </script>

{% endblock %}
