{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Profile{% endblock %}

{% block head %}
{{ super() }}
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='profile.css') }}" rel="stylesheet">

{% endblock %}

{% block page_content %}

<div class="container">
    <div class="bg-profile">
    </div>
    <div class="container col-sm-12 info" style="height: 270px;">
        <div class="col-md-2" style="padding: 0;">
            <div class="photo">
                {% if current_user.avatar_img %}
                <img class="img-rounded profile-thumbnail" src="{{ current_user.avatar_img }}" alt="avatar"  style="width: 130px; height: 130px">
                {% else %}
                    <img class="img-rounded profile-thumbnail" src="{{ current_user.gravatar(size=130) }}" alt="avatar">
                {% endif %}
            </div>
            <div>
                <div class="detail">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <span>Joined {{ moment(user.member_since).format('L') }}</span>
                </div>
                <div class="detail">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <span>Last seen {{ moment(user.last_seen).fromNow() }}</span>
                </div>
                <div class="follow">
                        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                            {% if not current_user.is_following(user) %}
                            <a href="{{ url_for('.follow', username=user.username) }}" class="btn btn-primary">Follow</a>
                            {% else %}
                            <a href="{{ url_for('.unfollow', username=user.username) }}" class="btn btn-default">Unfollow</a>
                            {% endif %}
                        {% endif %}
                        <a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count() - 1 }}</span></a>&nbsp;
                        <a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.following.count() - 1 }}</span></a>
                        {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                        | <span class="label label-default">Follows you</span>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <ul class="list-group">
                <li class="list-group-item info-box">
                    <h3>{{ current_user.username }}</h3>
                </li>
                <li class="list-group-item info-box" style="color: #727070;">
                    {{ current_user.about_me }}
                </li>
                <li class="list-group-item info-box detail">
                    <div class="col-sm-2 title">Email</div>
                    <div class="col-sm-10">{{ current_user.email }}</div>
                </li>
                <li class="list-group-item info-box detail">
                    <div class="col-sm-2 title">Grade</div>
                    <div class="col-sm-10">{{ current_user.grade }}</div>
                </li>
                <li class="list-group-item info-box detail">
                    <div class="col-sm-2 title">Collage</div>
                    <div class="col-sm-10">{{ current_user.college }}</div>
                </li>
            </ul>
            <div class="col-sm-offset-9 btn-group btn-group-sm">
                <button type="button" class="btn btn-default">
                    <a href="/edit-profile">Change my information</a>
                </button>
            </div>
        </div>
    </div>

    <div class="container col-sm-12 info">

         <p>{{ user.posts.count() }} blog posts.</p>
        {% include '_posts.html' %}
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
